In [1]:
import os
os.chdir('D:\\Gnan\\DA\\KMU\\Prediction-COVID-19')
from utils import *

In [2]:
def N_in_dict(dic_files, list_N):
    
    i = 0
    for key, file in dic_files.items():
        dic_files[key] = [list_N[i], file]
        i += 1
    
    return dic_files

def Processing_SIR(file, city, N):
    df = pd.DataFrame()

    Recover = [7, 14]

    df['Date'] = file['stdDay']
    df['City'] = file['gubun']

    # 사망자
    df['Dead'] = file['deathCnt']                 # 누적 사망자

    # 감염자
    df['Inf_AC'] = file['defCnt']                  # 누적 감염자
    df['Infected'] = file['defCnt']  
    df.iloc[Recover[1]:, -1] = (df.iloc[Recover[1]:, -1]
                               .reset_index(drop = True)
                               .sub(df.iloc[:len(df)-Recover[1], -1]))
    df['Infected'] = df['Infected']-df['Dead']
    
    # 회복자
    df['Recovered'] = 0
    df.iloc[Recover[1]:, -1] = df.iloc[:len(df)-Recover[1], 3]

    # 취약자
    df['Susceptible'] = N - df['Infected'] - df['Dead'] - df['Recovered']
    df = df[['Date', 'City', 'Susceptible', 'Infected', 'Dead', 'Recovered']]
    
    # Alpha
    df['alpha'] = (df['Susceptible'].shift(-1) - df['Susceptible'])
    df['alpha'] = (-1 * N * df['alpha'])/(df['Susceptible'] * df['Infected'])
    
    # Beta
    df['beta'] = (df['Recovered'].shift(-1) - df['Recovered'])
    df['beta'] = df['beta']/df['Infected']

    # Gamma
    df['gamma'] = (df['Dead'].shift(-1) - df['Dead'])
    df['gamma'] = df['gamma']/df['Infected']

    df.loc[df['alpha'] == 0, 'alpha'] = 0
    df = df.replace([np.inf, -np.inf], np.nan).fillna(0)
    
    return df

In [3]:
path = 'Data/Cleaned_deathCnt/*.csv'
dic_files = Load_files.load_files(path, -14, -12)

list_N = [1539277, 13527299, 3311631, 2622174, 
          1440908, 2389150, 1454068, 3353379, 
          9535432, 370439, 1122757, 2952839, 
          1834016, 1786855, 676518, 2121108, 1597774]

dic_files = N_in_dict(dic_files, list_N)

In [6]:
df = dic_files['서울'][1]
df

,deathCnt,defCnt,gubun,gubunEn,incDec,isolClearCnt,isolIngCnt,localOccCnt,overFlowCnt,qurRate,stdDay
0,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-20
1,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-21
2,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-22
3,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-23
4,0,1,서울,Seoul,1.0,0,1,0,1,0.0,2020-01-24
...,...,...,...,...,...,...,...,...,...,...,...
1214,6471,6162486,서울,Seoul,4329.0,0,0,4371,0,65361.0,2023-05-20
1215,6473,6166682,서울,Seoul,4196.0,0,0,4195,1,65406.0,2023-05-21
1216,6476,6167953,서울,Seoul,1271.0,0,0,1271,0,65419.0,2023-05-22
1217,6477,6173315,서울,Seoul,5362.0,0,0,5359,3,65476.0,2023-05-23
1218,6479,6178627,서울,Seoul,5312.0,0,0,5310,2,65532.0,2023-05-24

In [7]:
dic_final = {}
for key, file in dic_files.items():
    df_final = Processing_SIR(file[1], key, file[0])
    dic_final[key] = df_final
    df_final.to_csv(f'Data/SIR_Origin/{key}_SIR_Origin.csv', index = False)

In [8]:
df_final

,Date,City,Susceptible,Infected,Dead,Recovered,alpha,beta,gamma
0,2020-01-20,충북,1597774,0,0,0,0.000000,0.000000,0.000000
1,2020-01-21,충북,1597774,0,0,0,0.000000,0.000000,0.000000
2,2020-01-22,충북,1597774,0,0,0,0.000000,0.000000,0.000000
3,2020-01-23,충북,1597774,0,0,0,0.000000,0.000000,0.000000
4,2020-01-24,충북,1597774,0,0,0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
1214,2023-05-20,충북,609405,7704,1050,979615,0.188880,0.163162,0.000000
1215,2023-05-21,충북,608850,7002,1050,980872,0.096320,0.053128,0.000143
1216,2023-05-22,충북,608593,6886,1051,981244,0.202449,0.074789,0.000145
1217,2023-05-23,충북,608062,6901,1052,981759,0.280623,0.103898,0.000000
1218,2023-05-24,충북,607325,6921,1052,982476,0.000000,0.000000,0.000000