In [1]:
import os
os.chdir('D:\\Gnan\\DA\\KMU\\Prediction-COVID-19')
from utils import *

In [2]:
path = 'Data/Cleaned_deathCnt/*.csv'
dic_files = Load_files.load_files(path, -14, -12)

list_N = [1539277, 13527299, 3311631, 2622174, 
          1440908, 2389150, 1454068, 3353379, 
          9535432, 370439, 1122757, 2952839, 
          1834016, 1786855, 676518, 2121108, 1597774]

dic_files = N_in_dict(dic_files, list_N)

In [3]:
file = dic_files['서울'][1]
file

,deathCnt,defCnt,gubun,gubunEn,incDec,isolClearCnt,isolIngCnt,localOccCnt,overFlowCnt,qurRate,stdDay
0,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-20
1,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-21
2,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-22
3,0,0,서울,Seoul,0.0,0,0,0,0,0.0,2020-01-23
4,0,1,서울,Seoul,1.0,0,1,0,1,0.0,2020-01-24
...,...,...,...,...,...,...,...,...,...,...,...
1214,6471,6162486,서울,Seoul,4329.0,0,0,4371,0,65361.0,2023-05-20
1215,6473,6166682,서울,Seoul,4196.0,0,0,4195,1,65406.0,2023-05-21
1216,6476,6167953,서울,Seoul,1271.0,0,0,1271,0,65419.0,2023-05-22
1217,6477,6173315,서울,Seoul,5362.0,0,0,5359,3,65476.0,2023-05-23
1218,6479,6178627,서울,Seoul,5312.0,0,0,5310,2,65532.0,2023-05-24

In [5]:
dic_final = {}
for key, file in dic_files.items():
    df_final = processing_SIR(file[1], file[0], 14)
    dic_final[key] = df_final
    df_final.to_csv(f'Data/SIR_Origin/{key}_SIR_Origin.csv', index = False, encoding = 'cp949')

In [14]:
path = 'Data/All/All_cleaned.csv'
df = pd.read_csv(path, encoding = 'cp949')
all_N = sum(list_N)
df_all = processing_SIR(df, all_N, 14)
df_all.to_csv(f'Data/SIR_Origin/all_SIR_Origin.csv', index = False, encoding = 'cp949')