In [2]:
import os
os.chdir('D:\\Gnan\\DA\\KMU\\Prediction-COVID-19')
from utils import *

In [3]:
path = 'Data/Cleaned_deathCnt/*.csv'
dic_files = Load_files.load_files(path, -14, -12)

In [4]:
df_variants = pd.read_csv('Data/Variants/Variants.csv')
df_variants = df_variants.fillna(0)
df_variants

            Date  Others  Omicron  Alpha  Delta  recombinant   22D   23A
0     2020-08-03     1.0      0.0    0.0    0.0          0.0  0.00  0.00
1     2020-08-04     1.0      0.0    0.0    0.0          0.0  0.00  0.00
2     2020-08-05     1.0      0.0    0.0    0.0          0.0  0.00  0.00
3     2020-08-06     1.0      0.0    0.0    0.0          0.0  0.00  0.00
4     2020-08-07     1.0      0.0    0.0    0.0          0.0  0.00  0.00
...          ...     ...      ...    ...    ...          ...   ...   ...
1003  2023-05-03     0.0      1.0    0.0    0.0          0.0  0.19  0.64
1004  2023-05-04     0.0      1.0    0.0    0.0          0.0  0.19  0.64
1005  2023-05-05     0.0      1.0    0.0    0.0          0.0  0.19  0.64
1006  2023-05-06     0.0      1.0    0.0    0.0          0.0  0.19  0.64
1007  2023-05-07     0.0      1.0    0.0    0.0          0.0  0.19  0.64

[1008 rows x 8 columns]

In [4]:
delta = df_variants['Delta'][252:-4].reset_index(drop = True)
omicron = df_variants['Omicron'][252:-4].reset_index(drop = True)

for city, data in dic_files.items():
    df_delta_omicron = dic_files[city].iloc[448:-19, [4, 10]].reset_index(drop = True).copy()
    df_delta_omicron['delta_variants'] = df_delta_omicron['incDec']*delta
    df_delta_omicron['omicron_variants'] = df_delta_omicron['incDec']*omicron
    df_delta_omicron.to_csv(f"Data/Variants/Infected/delta_omicron/{city}_delta_omicron.csv", encoding = 'cp949', index = False)

In [6]:
df_variants[252:-4]

            Date  Others  Omicron  Alpha  Delta  recombinant   22D   23A
252   2021-04-12    0.72      0.0   0.26   0.02          0.0  0.00  0.00
253   2021-04-13    0.72      0.0   0.26   0.02          0.0  0.00  0.00
254   2021-04-14    0.72      0.0   0.26   0.02          0.0  0.00  0.00
255   2021-04-15    0.72      0.0   0.26   0.02          0.0  0.00  0.00
256   2021-04-16    0.72      0.0   0.26   0.02          0.0  0.00  0.00
...          ...     ...      ...    ...    ...          ...   ...   ...
999   2023-04-29    0.00      1.0   0.00   0.00          0.0  0.19  0.64
1000  2023-04-30    0.00      1.0   0.00   0.00          0.0  0.19  0.64
1001  2023-05-01    0.00      1.0   0.00   0.00          0.0  0.19  0.64
1002  2023-05-02    0.00      1.0   0.00   0.00          0.0  0.19  0.64
1003  2023-05-03    0.00      1.0   0.00   0.00          0.0  0.19  0.64

[752 rows x 8 columns]