In [46]:
import os
os.chdir('D:\\Gnan\\DA\\KMU\\Prediction-COVID-19')
from utils import *

import scipy.stats as stats
from scipy.stats import wilcoxon
from scipy.stats import shapiro
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [61]:
key = 'Infected'
var_list = ['up1', 'up2', 'down1', 'down2']
cities = ['강원', '경기', '경남', '경북', '광주', '대구', 
          '대전', '부산', '서울', '세종', '울산', '인천',
          '전남', '전북', '제주', '충남', '충북']
models = ['RNN', 'LSTM', 'GRU', 'BiRNN', 'BiLSTM', 'BiGRU', 
          'seq2seq_RNN', 'seq2seq_LSTM', 'seq2seq_GRU', 
          'seq2seq_BiRNN', 'seq2seq_BiLSTM', 'seq2seq_BiGRU']

In [62]:
dic_best_model = {}
for var in var_list:
    dic_best_model_sub = {}
    for city in cities:
        path = f'Data/Predicted/Stricgency/{key}/{var}/{city}/best*.csv'
        file = glob.glob(path)
        df = pd.read_csv(file[0], encoding = 'cp949')
        df.columns = [['Date', 'Actual_data', 'Predicted_data']]
        dic_best_model_sub[city] = df
        
    dic_best_model[var] = dic_best_model_sub
    
path = 'Data/SIR_Origin/*.csv'
dic_SIRs = Load_files.load_files(path, -17, -15)
data = dic_SIRs['서울']
dic_alpha = {}

for city in cities:
    df = dic_SIRs[city]
    dic_alpha[city] = df['alpha']

In [63]:
dic_best_model['up1']['강원']

           Date Actual_data Predicted_data
0    2020-08-16     81.0000      89.731540
1    2020-08-17     82.0000      89.763480
2    2020-08-18     84.0000      89.426476
3    2020-08-19     90.0000      93.304280
4    2020-08-20     95.0000      98.942350
..          ...         ...            ...
140  2021-01-03   1301.0000    1246.998000
141  2021-01-04   1329.0000    1282.137200
142  2021-01-05   1356.0001    1308.846900
143  2021-01-06   1372.0000    1336.630500
144  2021-01-07   1402.0001    1365.226000

[145 rows x 3 columns]

In [64]:
df_predicted = dic_best_model['up1']['강원']
x = df_predicted['Actual_data'][-7:]
y = df_predicted['Predicted_data'][-7:]
z = x - y

In [65]:
for var in var_list:
    sum_statistics = 0
    print(var)
    print('')
    for city in cities:
        print(city)
        print('')
        df = dic_best_model[var][city]
        x = df['Actual_data'][-7:]
        y = df['Predicted_data'][-7:]
        mean_xy = np.mean(x)[0] - np.mean(y)[0]
        if var in ['up1', 'up2']:
            ttest = stats.ttest_rel(x, y, alternative = 'less')
            wil = wilcoxon(x, y, alternative = 'less')
        else:
            ttest = stats.ttest_rel(x, y, alternative = 'greater')
            wil = wilcoxon(x, y, alternative = 'greater')
        print(f'x - p_value : {shapiro(x)[1]:.4f}')
        print(f'y - p_value : {shapiro(y)[1]:.4f}')
        if (shapiro(x)[1] < 0.05) or (shapiro(y)[1] < 0.05):
            print(f'wilcoxon - mean : {mean_xy:.2f}, p_value : {wil[1][0]:.4f}')
        else:
            print(f't-test - mean : {mean_xy:.2f}, p_value : {ttest[1][0]:.4f}')
        print('')
        sum_statistics += mean_xy
    print(f'{sum_statistics:.2f}, {sum_statistics/17:.2f}')

up1

강원

x - p_value : 0.9423
y - p_value : 0.9650
t-test - mean : 44.62, p_value : 1.0000

경기

x - p_value : 0.9461
y - p_value : 0.8849
t-test - mean : 318.31, p_value : 0.9990

경남

x - p_value : 0.9339
y - p_value : 0.9237
t-test - mean : 57.41, p_value : 1.0000

경북

x - p_value : 0.8892
y - p_value : 0.8870
t-test - mean : 0.12, p_value : 0.5114

광주

x - p_value : 0.4408
y - p_value : 0.5825
t-test - mean : 48.24, p_value : 0.9941

대구

x - p_value : 0.7077
y - p_value : 0.8600
t-test - mean : 25.49, p_value : 0.9995

대전

x - p_value : 0.8506
y - p_value : 0.5553
t-test - mean : -0.62, p_value : 0.4351

부산

x - p_value : 0.8859
y - p_value : 0.9065
t-test - mean : 67.56, p_value : 1.0000

서울

x - p_value : 0.9471
y - p_value : 0.9971
t-test - mean : -108.26, p_value : 0.0575

세종

x - p_value : 0.4644
y - p_value : 0.9102
t-test - mean : -0.20, p_value : 0.3932

울산

x - p_value : 0.7506
y - p_value : 0.0111
wilcoxon - mean : 63.77, p_value : 1.0000

인천

x - p_value : 0.6972
y - p_value : 0.7040
t-test - mean : 45.95, p_value : 0.9995

전남

x - p_value : 0.0998
y - p_value : 0.8881
t-test - mean : 17.78, p_value : 0.9994

전북

x - p_value : 0.5898
y - p_value : 0.4374
t-test - mean : 24.49, p_value : 0.9996

제주

x - p_value : 0.9692
y - p_value : 0.9931
t-test - mean : -3.51, p_value : 0.1490

충남

x - p_value : 0.5856
y - p_value : 0.1666
t-test - mean : -1.29, p_value : 0.4548

충북

x - p_value : 0.8405
y - p_value : 0.3308
t-test - mean : 37.61, p_value : 0.9977

637.46, 37.50
up2

강원

x - p_value : 0.7261
y - p_value : 0.6648
t-test - mean : 52.90, p_value : 0.9999

경기

x - p_value : 0.9211
y - p_value : 0.8993
t-test - mean : 50.39, p_value : 0.9142

경남

x - p_value : 0.8735
y - p_value : 0.8974
t-test - mean : 95.41, p_value : 0.9991

경북

x - p_value : 0.9684
y - p_value : 0.7849
t-test - mean : 11.96, p_value : 0.9970

광주

x - p_value : 1.0000
y - p_value : 0.9716
t-test - mean : 5.53, p_value : 0.8804

대구

x - p_value : 0.8156
y - p_value : 0.7715
t-test - mean : 39.72, p_value : 1.0000

대전

x - p_value : 0.9520
y - p_value : 0.3515
t-test - mean : 81.00, p_value : 0.9984

부산

x - p_value : 0.8894
y - p_value : 0.8284
t-test - mean : 121.93, p_value : 0.9984

서울

x - p_value : 0.9118
y - p_value : 0.8237
t-test - mean : 308.59, p_value : 0.9996

세종

x - p_value : 0.8337
y - p_value : 0.8971
t-test - mean : 10.60, p_value : 0.9985

울산

x - p_value : 0.3944
y - p_value : 0.8283
t-test - mean : 4.57, p_value : 0.8828

인천

x - p_value : 0.8918
y - p_value : 0.8191
t-test - mean : 145.39, p_value : 0.9999

전남

x - p_value : 0.9746
y - p_value : 0.4222
t-test - mean : 7.59, p_value : 0.9710

전북

x - p_value : 0.5110
y - p_value : 0.0028
wilcoxon - mean : -9.18, p_value : 0.1875

제주

x - p_value : 0.7085
y - p_value : 0.4014
t-test - mean : 58.67, p_value : 0.9996

충남

x - p_value : 0.9940
y - p_value : 0.9266
t-test - mean : 48.04, p_value : 0.9997

충북

x - p_value : 0.7499
y - p_value : 0.9246
t-test - mean : 67.13, p_value : 0.9997

1100.25, 64.72
down1

강원

x - p_value : 0.9509
y - p_value : 0.2148
t-test - mean : 15.41, p_value : 0.0105

경기

x - p_value : 0.9425
y - p_value : 0.8481
t-test - mean : 259.19, p_value : 0.0000

경남

x - p_value : 0.8860
y - p_value : 0.7739
t-test - mean : -6.05, p_value : 0.9750

경북

x - p_value : 0.9825
y - p_value : 0.2656
t-test - mean : -18.88, p_value : 1.0000

광주

x - p_value : 0.7824
y - p_value : 0.2045
t-test - mean : -12.58, p_value : 0.9945

대구

x - p_value : 0.8375
y - p_value : 0.6120
t-test - mean : -2.72, p_value : 0.7824

대전

x - p_value : 0.0886
y - p_value : 0.2211
t-test - mean : 2.76, p_value : 0.0830

부산

x - p_value : 0.9289
y - p_value : 0.6683
t-test - mean : 12.26, p_value : 0.0234

서울

x - p_value : 0.9062
y - p_value : 0.3087
t-test - mean : -3.18, p_value : 0.5596

세종

x - p_value : 0.1193
y - p_value : 0.3349
t-test - mean : 0.21, p_value : 0.4276

울산

x - p_value : 0.4029
y - p_value : 0.3603
t-test - mean : 7.65, p_value : 0.0065

인천

x - p_value : 0.8197
y - p_value : 0.2668
t-test - mean : -3.39, p_value : 0.7840

전남

x - p_value : 0.1296
y - p_value : 0.0304
wilcoxon - mean : -0.94, p_value : 0.8125

전북

x - p_value : 0.5095
y - p_value : 0.6697
t-test - mean : 22.77, p_value : 0.0008

제주

x - p_value : 0.0575
y - p_value : 0.4534
t-test - mean : -4.49, p_value : 0.9990

충남

x - p_value : 0.5336
y - p_value : 0.3999
t-test - mean : 77.24, p_value : 0.0019

충북

x - p_value : 0.4291
y - p_value : 0.7530
t-test - mean : -8.12, p_value : 0.9999

337.14, 19.83
down2

강원

x - p_value : 0.7311
y - p_value : 0.2243
t-test - mean : 4678.60, p_value : 0.0001

경기

x - p_value : 0.7514
y - p_value : 0.2411
t-test - mean : 12780.29, p_value : 0.0283

경남

x - p_value : 0.7248
y - p_value : 0.4780
t-test - mean : 3863.73, p_value : 0.0082

경북

x - p_value : 0.7563
y - p_value : 0.3398
t-test - mean : 8682.17, p_value : 0.0000

광주

x - p_value : 0.7586
y - p_value : 0.0357
wilcoxon - mean : 540.63, p_value : 0.1875

대구

x - p_value : 0.7323
y - p_value : 0.3657
t-test - mean : 9252.85, p_value : 0.0001

대전

x - p_value : 0.7317
y - p_value : 0.3793
t-test - mean : 8545.27, p_value : 0.0000

부산

x - p_value : 0.6919
y - p_value : 0.1406
t-test - mean : 3812.85, p_value : 0.0000

서울

x - p_value : 0.6781
y - p_value : 0.1523
t-test - mean : 12679.11, p_value : 0.0124

세종

x - p_value : 0.9171
y - p_value : 0.6470
t-test - mean : 1207.08, p_value : 0.0068

울산

x - p_value : 0.7508
y - p_value : 0.2995
t-test - mean : 2877.22, p_value : 0.0002

인천

x - p_value : 0.7175
y - p_value : 0.7855
t-test - mean : 5663.99, p_value : 0.0000

전남

x - p_value : 0.7697
y - p_value : 0.4446
t-test - mean : 9850.64, p_value : 0.0000

전북

x - p_value : 0.7155
y - p_value : 0.3909
t-test - mean : 3408.66, p_value : 0.0000

제주

x - p_value : 0.8329
y - p_value : 0.7710
t-test - mean : 2144.54, p_value : 0.0000

충남

x - p_value : 0.7280
y - p_value : 0.6658
t-test - mean : 6788.07, p_value : 0.0015

충북

x - p_value : 0.7544
y - p_value : 0.0817
t-test - mean : 4144.10, p_value : 0.0037

100919.79, 5936.46

In [54]:
for city1 in cities:
    for city2 in cities:
        if city1 == city2:
            continue
        
        x = list(dic_alpha[city1])
        y = list(dic_alpha[city2])
        ttest = stats.ttest_rel(x, y)
        if ttest[1] < 0.05:
            print(city1, city2)
            print(f't_test - statistics : {ttest[0]:.4f}, p_value : {ttest[1]:.4f}')

경기 전남
t_test - statistics : 1.9778, p_value : 0.0482
대전 전남
t_test - statistics : 2.0714, p_value : 0.0385
서울 전남
t_test - statistics : 2.6147, p_value : 0.0090
서울 전북
t_test - statistics : 2.2256, p_value : 0.0262
서울 제주
t_test - statistics : 2.3543, p_value : 0.0187
전남 경기
t_test - statistics : -1.9778, p_value : 0.0482
전남 대전
t_test - statistics : -2.0714, p_value : 0.0385
전남 서울
t_test - statistics : -2.6147, p_value : 0.0090
전북 서울
t_test - statistics : -2.2256, p_value : 0.0262
제주 서울
t_test - statistics : -2.3543, p_value : 0.0187